<!DOCTYPE html>
<html lang="en">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="style/index.css" rel="stylesheet">
<script src="javascript/index.js"></script>
<head>
    <meta charset="UTF-8">
    <link href="src/htmlicon.png" rel="icon">
    <title>Resume {{userInfo[0][1]}}</title>
</head>
<body onload="autoSlide()">
<header role="banner">
    <div class="download-button">
        <a data-type="document" href="src/[ENG-CV] Ivo Carvalho.pdf" target="_blank">
            <span>DOWNLOAD MY FULL RESUME</span>
        </a>
    </div>
</header>
<main role="main">
    <div class="page">
        <div class="menu">
            <div class="top-menu">
                <div class="menu-image"></div>
                <div class="shortcuts">
                    <a class="fa fa-github" href={{userInfo[0][5]}} id="github-link"
                       target="_blank"></a>
                    <a class="fa fa-linkedin-square" href={{userInfo[0][6]}}
                       id="linkedin-link"
                       target="_blank"></a>
                </div>
                <div id="profileContainer"><img alt="profile" id="profilePicture" src="src/profile.jpg"></div>
                <div class="name-menu">
                    <h1 id="name-menu">{{userInfo[0][1]}}</h1>
                </div>
            </div>
            <div class="links">
                <div class="link">
                    <a href="#intro">
                        <div></div>
                        <i class="fa fa-home fa-fw"></i>
                        Home
                    </a>
                </div>
                <div class="link">
                    <a href="#info">
                        <div></div>
                        <i class="fa fa-address-card fa-fw"></i>
                        About Me
                    </a>
                </div>
                <div class="link">
                    <a href="#skills">
                        <div></div>
                        <i class="fa fa-book fa-fw"></i>
                        Skills
                    </a>
                </div>
                <div class="link">
                    <a href="#contact">
                        <div></div>
                        <i class="fa fa-address-book fa-fw"></i>
                        Contacts
                    </a>
                </div>
            </div>
        </div>
        <div class="page-body">
            <div class="background-image" id="first-image">
                <div class="main-block" id="intro">
                    <div>
                        <h1 id="name">{{userInfo[0][1]}}</h1>
                        <h2 id="title">{{userInfo[0][2]}}</h2>
                    </div>
                </div>
                <div class="main-block" id="info">
                    <div class="section-container">
                        <div class="slide-card">
                            <h3 class="slide-title">About Me</h3>
                            <div class="line"></div>
                            <div class="text-content">
                                <div class="text-section">
                                    <p>{{userInfo[0][14]}}</p>
                                </div>
                            </div>
                        </div>

                        <div class="slide-card">
                            <h3 class="slide-title">Experience</h3>
                            <div class="line"></div>
                            <div class="text-content">
                                {% for row in exp %}
                                    <div class="text-section">
                                        <h4>{{row[2]}}</h4>
                                        <h5>{{row[3]}}</h5>
                                        <h6>{{row[5]}} - {{row[6]}}</h6>
                                        <p>{{row[4]}}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="slide-card">
                            <h3 class="slide-title">Education</h3>
                            <div class="line"></div>
                            <div class="text-content">
                                {% for row in educ %}
                                    <div class="text-section">
                                        <h4>{{row[2]}}</h4>
                                        <h5>{{row[3]}}</h5>
                                        <h6>{{row[4]}} - {{row[5]}}</h6>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <a class="prev" onclick="control(-1)">&#10094;</a>
                    <a class="next" onclick="control(1)">&#10095;</a>

                    <div class="dots">
                        <span class="slide-dot" onclick="navigate(1)"></span>
                        <span class="slide-dot" onclick="navigate(2)"></span>
                        <span class="slide-dot" onclick="navigate(3)"></span>
                    </div>
                </div>
            </div>
            <div class="background-image" id="second-image">
                <div class="main-block" id="skills">
                    <div class="section-container">
                        <h3 class="slide-title">Skills</h3>
                        <div class="line"></div>
                        <div class="skill-container">
                            {% for row in skill %}
                                <div class="skill-section">
                                    <div>
                                        <h4>{{row[2]}}</h4>
                                        <h5>{{row[3]}}</h5>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="footer"><span>*Levels: 1 - Fundamental Awareness; 2 - Novice; 3 - Intermediate; 4 - Advanced; 5 - Expert</span>
                        </div>
                    </div>
                </div>
                <div class="main-block" id="contact">
                    <div class="contact-details">
                        <div class="contact-details-container">
                            <h3 class="slide-title">Contact Details</h3>
                            <div class="line"></div>
                            <p class="paragraph-line">
                                <b>Webpage</b>
                                <a href="http://{{userInfo[0][7]}}" target="_blank">{{userInfo[0][7]}}</a>
                            </p>
                            <p class="paragraph-line">
                                <b>Skype</b>
                                <a href="skype:{{userInfo[0][8]}}?chat" target="_blank">{{userInfo[0][8]}}</a>
                            </p>
                            <p class="paragraph-line">
                                <b>Email</b>
                                <a href="mailto:{{userInfo[0][9]}}" target="_blank">{{userInfo[0][9]}}</a>
                            </p>
                            <p class="paragraph-line">
                                <b>Phone</b>
                                <span>{{userInfo[0][10]}}</span>
                            </p>
                            <p class="paragraph-line">
                                <b>Address</b>
                                <span>{{userInfo[0][11]}}</span>
                            </p>
                        </div>
                    </div>
                    <div class="contact-me">
                        <div class="contact-me-container">
                            <h3 class="slide-title">Contact Me</h3>
                            <div class="line"></div>
                            <form action="index.php" method="post">
                                <div class="form-group-1">
                                    <input id="form-name" name="form-name" placeholder="Name" required type="text">
                                    <input id="form-email" name="form-email" placeholder="Email" required type="email">
                                </div>
                                <div class="form-group-2">
                                    <input id="form-subject" name="form-subject" placeholder="Subject" required type="text">
                                </div>
                                <div class="form-group-3">
                                    <textarea id="form-message" name="form-message" placeholder="Message" required rows="5"></textarea>
                                </div>
                                <div class="form-group-4">
                                    <button id="form-submit" name="form-submit" type="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer role="contentinfo">
    <p>Made by Ivo Carvalho.</p>
</footer>
</body>
</html>
