:root {
    --standart-color: black;
    --color-1: #EFEBEA;
    --color-2: #008DAA;
    --contrast-color-3: white;
    --menu-split-color: #d5d1ca;
    --underline-color: #C70039;
}

/* ---------------- MAIN ---------------- */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: var(--standart-color);
}

/* CONTENT */
main {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}

/* PAGE AND MENU */
.page {
    display: flex;
    flex-direction: column;
}

.menu {
    width: 250px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--color-1);
    overflow: hidden;
    border-right: 1px solid var(--menu-split-color);
}

.top-menu {
    width: 100%;
    height: 300px;
}

.menu .links {
    width: 100%;
    height: calc(100% - 300px);
}

.menu-image {
    height: calc(100% / 2);
    background-image: url("../src/firstBackground.jpg");
    background-size: 250px;
    background-repeat: no-repeat;
}

.shortcuts {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
    padding-top: 10px;
    font-size: 36px;
    color: var(--contrast-color-3);
}

.shortcuts :first-child {
    margin-right: 165px;
}

#profileContainer {
    margin-top: calc(-100% / 3);
}

#profilePicture {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 10px solid var(--color-1);
}

.menu h1 {
    color: var(--standart-color);
    font-size: 32px;
}

.menu .links .link {
    width: 100%;
    height: calc(100% / 4);
    border-top: 1px solid var(--menu-split-color);
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    font-size: 24px;
}

.menu .links a {
    width: calc(100% - 10px);
    height: 50%;
    margin-left: 2px;
    align-items: center;
    display: flex;
    border-left: 5px;
}

.menu .links a:hover {
    color: var(--color-2);
}

.menu .links a div {
    margin-right: 10px;
    width: 5px;
    height: 0;
    background: var(--color-2);
    transition: height 0.5s ease, background-color 0.5s ease;
}

.menu .links a:hover > div {
    height: 100%;
    background: var(--color-2);
}

.menu .links i {
    margin-right: 20px;
}

.page-body {
    margin-left: 250px;
    display: flex;
    flex-direction: column;
}

.background-image {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#first-image {
    background-image: url("../src/firstBackground.jpg");
}

#second-image {
    background-image: url("../src/secondBackground.jpg");
}

/* ---------------- DEFAULT STYLE ---------------- */
a {
    color: inherit;
    text-decoration: inherit;
}

h1 {
    font-size: 80px;
    color: var(--contrast-color-3);
    margin: 0;
    padding: 0;
}

h2 {
    text-transform: uppercase;
    font-size: 25px;
    color: var(--color-2);
    margin-top: 10px;
    padding: 0;
}

h3 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 38px;
    margin: 0 0 25px;
    padding: 0;
}

h4 {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

h5 {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

h6 {
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: var(--color-2);
}

/* ---------------- RIGHT TOP CORNER ---------------- */
.download-button {
    position: fixed;
    font-size: 13px;
    border: 1px solid var(--color-2);
    padding: 10px 50px 10px 50px;
    top: 30px;
    right: 60px;
    text-decoration: none; /* no underline */
    color: var(--color-2);
    z-index: 5;
}

.download-button:hover {
    border: 1px solid red;
    color: red;
    background: var(--contrast-color-3);
}

/* ---------------- MAIN BLOCKS PAGE ---------------- */
.main-block {
    height: 700px;
    position: relative;
}

#intro {
    height: 500px;
}

#info {
    background: var(--color-1);
}

#skills {
    height: 700px;
}

#contact {
    height: 500px;
    background: var(--color-1);
}


/* ---------------- MAIN BLOCKS - CONTAINERS ---------------- */
#intro div {
    position: absolute;
    bottom: 100px;
    right: 0;
    left: 0;
}

.section-container {
    position: relative;
    width: calc(100% / 1.5);
    height: inherit;
    margin-left: calc((100% - (100% / 1.5)) / 2);
    text-align: justify;
}

/* ---------------- ABOUT ME - CAROUSEL ---------------- */
.slide-card {
    top: 200px;
    width: 100%;
    display: none;
    position: absolute;
    z-index: 3;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.5s;
    animation-name: fade;
    animation-duration: 2.5s;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 5px 35px;
    font-weight: bold;
    font-size: 18px;
    color: var(--contrast-color-3);
    transition: 0.6s ease;
    border-radius: 2px 2px;
    user-select: none;
    background-color: var(--color-2);
}

.prev {
    left: 25px;
}

.next {
    right: 25px;
}

.prev:hover, .next:hover {
    background-color: black;
}

.dots {
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
}

.slide-dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: var(--color-2);
    border: 2px solid var(--color-2);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .slide-dot:hover {
    background-color: var(--contrast-color-3);
}

@-webkit-keyframes fade {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

/* ---------------- CAROUSEL - CONTENT ---------------- */
.text-content {
    height: 270px;
    font-size: 17px;
    line-height: 1.4em;
    display: flex;
    overflow: auto;
}

.text-section {
    flex-basis: 100%;
    min-width: 200px;
    height: inherit;
    margin: 0 30px 0 0;
}

.line {
    height: 1px;
    width: 50px;
    border-top: 5px solid var(--underline-color);
    margin-bottom: 100px;
}

.text-content p {
    margin-block-end: 0;
}

/* ---------------- SKILLS ---------------- */
#skills h3 {
    margin-block-start: 100px;
    color: var(--contrast-color-3);
}

#skills .line {
    border-top: 5px solid var(--contrast-color-3);
}

.skill-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    max-height: 470px;
}

.skill-section {
    margin: 5px;
    width: 125px;
    height: 125px;
    background-color: var(--color-1);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#skills h5 {
    color: var(--underline-color);
}

#skills .footer {
    position: absolute;
    bottom: 5px;
    color: var(--contrast-color-3);
    font-size: 14px;
}

/* ---------------- CONTACT INFO ---------------- */
#contact {
    display: flex;
    flex-direction: row;
    text-align: justify;
}

#contact h3 {
    margin-block-start: 75px;
}

#contact .line {
    margin-bottom: 50px;
}

.contact-details {
    background-color: var(--color-2);
    width: 50%;
    height: inherit;
}

.contact-details-container {
    margin-left: calc(100% - (100% / 1.5));
    color: var(--contrast-color-3);
}

.paragraph-line b {
    width: 20%;
    float: left;
}

/* ---------------- CONTACT ME - FORM ---------------- */
.contact-me {
    overflow: hidden;
    width: 50%;
    height: inherit;
    background-color: var(--color-1);
}

.contact-me-container {
    margin-left: 50px;
    width: calc((100% - 50px) - (100% - (100% / 1.5)));
}

.form-group-1 {
    display: flex;
    flex-direction: row;
}

.form-group-1 input {
    width: 50%;
}

.form-group-2 input {
    width: 100%;
}

.form-group-3 textarea {
    width: 100%;
    resize: none;
}

.form-group-4 {
    display: flex;
    justify-content: center;
}

form input {
    height: 40px;
    margin: 0 0 5px 0;
}

form input, textarea {
    font-family: sans-serif;
    font-size: 14px;
    padding-left: 10px;
    background-color: var(--color-1);
    border-width: 1px;
    border-radius: 0;
    outline: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    box-sizing: border-box
}

form input:hover, textarea:hover {
    border-top-style: groove;
    border-right-style: groove;
    border-left-style: groove;
    background-color: var(--contrast-color-3);
}

form input:focus, textarea:focus {
    border-top-style: groove;
    border-right-style: groove;
    border-left-style: groove;
    background-color: var(--contrast-color-3);
}

form button {
    margin-top: 15px;
    outline: none;
    background: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: var(--color-2);
}

form button:hover {
    color: var(--contrast-color-3);
    text-shadow: -1px -1px 0 var(--color-2), 1px -1px 0 var(--color-2), -1px 1px 0 var(--color-2), 1px 1px 0 var(--color-2);
}

#form-name {
    margin: 0 20px 5px 0;
}

footer p {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 12px;
}